/*Background image for the homepage*/
.backgroundImage {
    background-image: url('../img/background2.jpg');
    background-repeat: no-repeat;
}

/*Background image for the about page*/
.backgroundImage1 {
    background-image: url('../img/background3.jpg');
    background-repeat: no-repeat;
}

/*Background image for the project pages*/
.backgroundImage2 {
    background-image: url('../img/airtestpro3.png');
    background-repeat: no-repeat;

}

body {
    padding-bottom: 300px;
}

/*Footer*/
footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

/*Homepage Code Links*/
#padding {
    padding-top: 25%;
}

/*About Me*/
#marginTop {
    margin-top: 10%;
}

#marginTop1 {
    margin-top: 7%;
}


#marginTop2 {
    margin-top: 5%;
}

#marginTop3 {
    margin-top: 2%;
}

/* Random */
#backgroundColorJumbotron {
    background-color: lightgray;
}

.textWhite {
    color: white;
}

.textBlack {
    color: black;
}

#marginTop {
    margin-top: 10%;
}

#marginTop2 {
    margin-top: 5%;
}

#marginTop3 {
    margin-top: 2%;
}

#marginBottom {
    margin-bottom: 20%;
}




img {
          display: block;
          height: auto;
          max-width: 100%;
   }

#img {
    border-color: lightgrey;
    border: ridge;
}

.personalImage img {
    max-height: 700px;
    margin-left: auto;
    margin-right: auto;
}

.border1 {
    border: solid thin;
}


/* CSS changes for the Blog */
.date {
    font-weight: bold;
    font-size: x-large;
}

.title {
    font-weight: bold;
    font-size: larger;
}

/* Make Buttons Responsive*/
.responsive-width {
    font-size: 1vw;
}