/*Background image for the homepage*/
.backgroundImage {
    background-image: url('../img/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

/*Background image for the about page*/
.backgroundImage1 {
    background-repeat: no-repeat;
    background-size: cover;

}

.textWhite {
    color: white;
}

#marginTop {
    margin-top: 10%;
}

#marginBottom {
    margin-bottom: 10%;
}

#marginTop2 {
    margin-top: 5%;
}

#marginTop3 {
    margin-top: 2%;
}

img {
          display: block;
          height: auto;
          max-width: 100%;
   }

.personalImage img {
    max-height: 700px;
    margin-left: auto;
    margin-right: auto;
}

.nameImage img {
    max-height: 30px;
}

.border1 {
    border: solid thin;
}

.date {
    font-weight: bold;
    font-size: larger;
}

.title {
    font-weight: bold;
}