/* This centers the navigation bar */
@media (min-width: 768px) {
    .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar-collapse {
        text-align: center;
    }
}



#navText {
    color: white;
}

.linkOpacity {
    opacity: 0.6;
}

a {
    color: black;
    font-weight: bold;
}