#navCenter {
    font-family: serif;
    font-size: x-large;
}

/* Sets up the centering of the navigation text */

.navbar-default .nav,
.navbar-default .nav > li {
  float: none;
  display: inline-block;
  *display: inline; /* ie7 fix */
  *zoom: 1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

/* Actually centers the text */
.navbar-middle {
    text-align: center;
}

#navText {
    color: white;
}

.linkOpacity {
    opacity: 0.7;
}